{% extends "base.html" %} {% block body %}
<script type="text/javascript">
    window._chatlio = window._chatlio||[];
    !function(){ var t=document.getElementById("chatlio-widget-embed");if(t&&window.ChatlioReact&&_chatlio.init)return void _chatlio.init(t,ChatlioReact);for(var e=function(t){return function(){_chatlio.push([t].concat(arguments)) }},i=["configure","identify","track","show","hide","isShown","isOnline", "page", "open", "showOrHide"],a=0;a<i.length;a++)_chatlio[i[a]]||(_chatlio[i[a]]=e(i[a]));var n=document.createElement("script"),c=document.getElementsByTagName("script")[0];n.id="chatlio-widget-embed",n.src="https://w.chatlio.com/w.chatlio-widget.js",n.async=!0,n.setAttribute("data-embed-version","2.3");
       n.setAttribute('data-widget-id','833173f0-6ac3-496b-7edc-1cc4ea4a899a');
       c.parentNode.insertBefore(n,c);
    }();
</script>



<div class="container-fluid text-center main-body">
    <div class="row content text-center">

        <div class="col-sm-3">
            <div class="well">
                <img src="https://avatars.io/avatar/HASH/size" class="img-circle" height="65" width="65" alt="Avatar">
                <h3 class="semi-bold-black">{{ profile.first_name }} {{ profile.last_name }}</h3>
                <p class="font-lightitalic">@{{ profile.username }}</p>

            </div>
            <div class="well">
                <div class="moods">
                    <p class="font-medium"> Current Mood </p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
                            style="width:{{ moods.disgust }}%">
                            <span class="sr-only">70% Complete</span>
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="70"
                            aria-valuemin="0" aria-valuemax="100" style="width:{{ moods.joy }}%">
                            <span class="sr-only">70% Complete</span>
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70"
                            aria-valuemin="0" aria-valuemax="100" style="width:{{ moods.anger }}%">
                            <span class="sr-only">70% Complete</span>
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                            aria-valuemax="100" style="width:{{ moods.sadness }}%">
                            <span class="sr-only">70% Complete</span>
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="70"
                            aria-valuemin="0" aria-valuemax="100" style="width:{{ moods.fear }}%">
                            <span class="sr-only">70% Complete</span>
                        </div>
                    </div>
                </div>
            </div>


            <div class="alert alert-success fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div id="form-title">
               
                    {% for message in messages %}
                    <p>{{ message }}</p> <br>
                    {% endfor %}
                </div>
                    {% endif %} {% endwith %}
            </div>

        </div>
        <div class="col-sm-9">
            <div class="col-sm-9">
                <div class="dash-header text-left">
                    <h5> Recent Moods</h5>
                </div>
                <div class="dash-body">
                </div>

            </div>
            <div class="col-sm-9">
                <div class="dash-header text-left">
                    <h5>Suggesstions </h5>
                </div>
                <div class="dash-body">
                </div>

            </div>
            <div class="col-sm-12">
                <div class="dash-header text-left">
                    <h5> Your Activites</h5>
                </div>
                <div class="dash-body">
                </div>

            </div>

        </div>
    </div>
    {% endblock %}