{% extends "base.html" %} {% block body %}
<div class="container-fluid text-center main-body">
    <div class="row content">
        {% if current_user.is_authenticated %}
        <div class="col-sm-12 text-center welcome">

            <h1> Hello {{ current_user.username }}!</h1>
        </div>
        {% else %}
        <div class="col-sm-12 text-center welcome">

            <h1> Welcome to Moody!</h1>
        </div>
        <div>
            <a href="{{ url_for('signup') }}" class="btn btn-info"> Sign up</a>
            <a href="{{ url_for('login') }}" class="btn btn-info"> Login </a>
        </div>
        {% endif %}
        <div class="col-sm-12 text-center">
            <div class="row features-bg">
                <h2> Lorem Ipsum Dolor</h2>
                <div class="col-sm-4 text-center">
                    <div class="features">
                        <span class="glyphicon glyphicon-facetime-video"></span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                            et dolore magna.</p>
                    </div>
                </div>
                <div class="col-sm-4 text-center">
                    <div class="features">
                        <span class="glyphicon glyphicon-music"></span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                            et dolore magna.</p>
                    </div>
                </div>
                <div class="col-sm-4 text-center">
                    <div class="features">
                        <span class="glyphicon glyphicon-user"></span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                            et dolore magna.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}