{% extends "base.html" %} {% block body %}
<div class="container-fluid text-center main-body">
    <div class="row content">
        {% if current_user.is_authenticated %}
        <div class="col-sm-12 text-center welcome">

            <h1> Hello {{ current_user.username }}!</h1>
        </div>
        {% else %}
        <div class="col-sm-12 text-center welcome">
            <br><br>
            <h1> Welcome to Moody!</h1>
        </div>
        <div>
            <a href="{{ url_for('signup') }}" class="btn btn-info"> Sign up</a>
            <a href="{{ url_for('login') }}" class="btn btn-info"> Login </a>
        </div>
        {% endif %}
        <div class="col-sm-12 text-center">
            <div class="row features-bg">
                <h2>Sign Up. Improve your Mood. Achieve Happiness. </h2>
                <div class="col-sm-4 text-center">
                    <div class="features">
                        <span class="glyphicon glyphicon-facetime-video"></span>
                        <h3> Video Sugestions</h3>
                        <p>Video suggestions to make you laugh or calm you down. </p>
                    </div>
                </div>
                <div class="col-sm-4 text-center">
                    <div class="features">
                        <span class="glyphicon glyphicon-music"></span>
                        <h3> Music Sugestions</h3>
                        <p>Carefully curated music suggestions to help you improve your mood instantly.</p>
                    </div>
                </div>
                <div class="col-sm-4 text-center">
                    <div class="features">
                        <span class="glyphicon glyphicon-comment"></span>
                        <h3> ChatBot</h3>
                        <p>Feeling lonely? Talk to Moody, our chatbot who will always be by your side when you need someone. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}